<ion-header>
  <ion-navbar color="theme">
    <ion-title>New Task</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-style" padding>
   <form (ngSubmit)="addTask()">
        <ion-item class="bg-style">
            <ion-label floating>Title</ion-label>
            <ion-input type="text" value="" name="title"[(ngModel)]="title"></ion-input>         
        </ion-item>                      
        <ion-item class="bg-style">
            <ion-label floating>Description</ion-label>
            <ion-input type="text" value="" name="description" [(ngModel)]="description" ></ion-input>
        </ion-item>   
        <ion-item class="bg-style">
            <ion-label>Task Type</ion-label>
            <ion-select name="taskSelect"style="text-align:center;" [(ngModel)]="taskType">
                <ion-option name="clients"*ngFor="let t of customTaskTypes | async" value="{{t.type}}">{{t.type}}</ion-option>
            </ion-select>
            <!--<ion-label><ion-icon name="arrow-down"></ion-icon></ion-label>-->
        </ion-item> 
        <ion-item class="bg-style">
            <ion-label>Client</ion-label>
			<ion-select name="clientSelect"style="text-align:center;" [(ngModel)]="client">
			    <ion-option name="clients"*ngFor="let client of clients | async" value="{{client.name}}//{{client.$key}}">{{client.name}}</ion-option>
			</ion-select>
        </ion-item>   
        <ion-item class="bg-style">
            <ion-label>Due Date</ion-label>        
			<ion-datetime displayFormat="MM/DD/YYYY" name="date" [(ngModel)]="date"></ion-datetime>
        </ion-item>       
        <ion-item class="bg-style">
          <ion-label>Due Time</ion-label>
          <ion-datetime name="time" displayFormat="hh:mm A" pickerFormat="hh:mm A" [(ngModel)]="time"></ion-datetime>
        </ion-item>
        <br/><br/> 
        <button ion-button type="submit" class="custom-button" block>Create</button>
    </form>
</ion-content>